In [ ]:
# import numpy as np

In [1]:
# Recorrer una lista 
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [2]:
# Recorrer una cadena
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
# Recorrer una tuple (immutable)
fruits = ("apple", "banana", "cherry")
for i in fruits:
    print(i)

apple
banana
cherry

In [ ]:
# Recorrer un diccionario  
d = dict() 
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("%s  %d" %(i, d[i]))

xyz  123
abc  345

In [ ]:
# Parar el bucle dada una condición. The break Statement

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana": 
    break # Termina la ejecución del bucle cuando se da la condición fruits (x) == "banana". Sólo se ejecuta, si se cumple esa condición

apple
banana

In [ ]:
# Termina la ejeción antes de visualizar el resultado
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple

In [ ]:
# Saltar un ciclo del bucle cuando se da una condición.
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [ ]:
# Ejecutar un número dado de iteraciones/ciclos range(valor numérico)
for x in range(6): # IMPORTANTE: range(6) no son los valores de 0 a 6, sino de 0 a 5.
  print(x)

In [ ]:
fruits = ["apple", "banana", "cherry"]

numero_de_elementos = len(fruits) # len == Número de elementos que contiene el array

for x in range(numero_de_elementos):
  print(x)

0
1
2

In [ ]:
fruits = ["apple", "banana", "cherry"]

numero_de_elementos = len(fruits) # len == Número de elementos que contiene el array

for x in range(numero_de_elementos):
  print(fruits[x]) # Accedemos a los elementos del array uno a uno, en un bucle

apple
banana
cherry

In [ ]:
# Podemos indicar a range el punto de partida
for x in range(2, 6):
  print(x)

2
3
4
5

In [ ]:
# También podemos indicar a range el tamaño del paso por ciclo. En este caso, de 3 en 3.
for x in range(2, 30, 3):
  print(x)

### Bucles anidados
 
### ¡MUY IMPORTANTES!

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

### Ejercicio 1
 
Realiza un bucle for que recorra las tres listas generando un listado como:
 
1 red apple
 
2 red apple
 
3 red apple
 
1 red banana
 
2 red banana
 
3 red banana
 
1 red cherry
 
2 red cherry
 
Etc.

In [5]:
numbers = [1,2,3]
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

# Respuesta
for x in adj:
    for y in fruits:
        for z in numbers:
            print(z, x, y)

1 red apple
2 red apple
3 red apple
1 red banana
2 red banana
3 red banana
1 red cherry
2 red cherry
3 red cherry
1 big apple
2 big apple
3 big apple
1 big banana
2 big banana
3 big banana
1 big cherry
2 big cherry
3 big cherry
1 tasty apple
2 tasty apple
3 tasty apple
1 tasty banana
2 tasty banana
3 tasty banana
1 tasty cherry
2 tasty cherry
3 tasty cherry

### Ejercicio 2

Recorre y muestra todos los elementos de la siguiente lista

In [14]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 

# Respuesta
for row in a:
    for element in row:
        print(element)

2
4
6
8
10
3
6
9
12
15
4
8
12
16
20

### Ejercicio 3
Recorre y muestra todos los elementos del siguiente diccionario.
 
Solución: abc
1
2
3
efg
Clave

In [26]:
# Respuesta
diccionario = {'abc':[1,2,3], 'efg':{'Clave':'Mundo'}}

for key in diccionario.keys():
    print(key)
    if(isinstance(diccionario[key], list)):
        for element in diccionario[key]:
            print(element)
    elif(isinstance(diccionario[key], dict)):
        for k1 in diccionario[key]:
            print(k1)

abc
1
2
3
efg
Clave

### Ejercicio 4
Usando bucles for, muestra la suma de los elementos de cada fila de la lista. Es decir: 30, 45 y 60.

In [30]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 

# Respuesta
for row in a:
    rowSum = 0
    for item in row:
        rowSum = rowSum + item
    print(rowSum)

30
45
60

### El bucle `while`
 
Es similar a for, pero en este caso el bucle puede ser ascendente o descendente, dependiendo de la condición. Ej.: i < 6, se lee: "mientras i sea menor que 6"

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1 # También i = i + 1, para incrementar el calor de i en cada ciclo y vaya acercándose de 1 en 1 al valor de control (6)

1
2
3
4
5

In [ ]:
# Usando `break` para interrunpir el bucle
i = 1
while i < 6:
  print(i)
  if i == 3:
    break # Cuando i = 3, se interrumpe el bucle.
  i += 1

1
2
3

### Ejercicio 5
 
Construye un bucle while que muestre cada fila de la lista a

In [39]:
a = [ [2, 4, 6, 8 ],  
    [ 1, 3, 5, 7 ],  
    [ 8, 6, 4, 2 ],  
    [ 7, 5, 3, 1 ] ]  

# Respuesta (I)
i = 0
while i < len(a):
    print(a[i])  
    i += 1

[2, 4, 6, 8]
[1, 3, 5, 7]
[8, 6, 4, 2]
[7, 5, 3, 1]

In [41]:
a = [ [2, 4, 6, 8 ],  
    [ 1, 3, 5, 7 ],  
    [ 8, 6, 4, 2 ],  
    [ 7, 5, 3, 1 ] ]  

# Respuesta (II). Otra posible solución
i = 0
while True :
    print(a[i])
    i += 1 
    if i == 4:
        break

[2, 4, 6, 8]
[1, 3, 5, 7]
[8, 6, 4, 2]
[7, 5, 3, 1]

### Funciones

In [ ]:
# 1) Creamos la función con el operador "def"
def funcionEjemplo():
  print('Hola')

# 2) POSTERIORMENTE, llamamos a la función en el punto donde queremos que se ejecute.
funcionEjemplo() # Una vez que la función se ha construido, ha de ser llamada expresamente en el código

Hola

Funciones que reciben parámetro al ser llamadas

In [ ]:
# 1) Creamos la función con el operador "def"
def funcionEjemplo(a, b): # a y b, son parámetros de entrada. Se pueden llamar con cualquier nombre válido
  print('suma de a y b:', a+b)

# 2) POSTERIORMENTE, llamamos a la función en el punto donde queremos que se ejecute.

funcionEjemplo(1,2) # Llamamos a la función con los parámetros que ha de usar. Aquí a=1, b=2

suma de a y b: 3

### Ejercicio 6
 
Crea una función que reciba como parámetro la lista `a` y muestre la suma de los elementos de cada fila de la lista "a".
 
Ej.: funcion_2(a)

In [43]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 

# Respuesta
def funcion_1(p):
    for row in a:
        rowSum = 0
        for item in row:
            rowSum = rowSum + item
        print(rowSum)

funcion_1(a)

30
45
60

### Cláusulas condicionales e if ... else statements

### Cláusulas condicionales
    Equals: a == b
    Not Equals: a != b
    Less than: a < b
    Less than or equal to: a <= b
    Greater than: a > b
    Greater than or equal to: a >= b

In [ ]:
a = 33
b = 200
if b > a:
  print("b > a")
else:
  print("a > b")

b > a

In [ ]:
a = 330
b = 200
if b > a:
  print("b > a")
else:
  print("a > b")

a > b

In [ ]:
a = 33
b = 200
if b == a:
  print("b = a")
else:
  print("a != b")

a != b

In [ ]:
a = 33
b = 33
if b == a:
  print("b = a")
else:
  print("a != b")

b = a

### Ejercicio 7
 
Repite la función del ejercicio 6, pero ahora visualiza sólo los valores mayores de 35 y sino, que imprima 'suma menor de 35'

In [44]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 

# Respuesta
def funcion_1(p):
    for row in a:
        rowSum = 0
        for item in row:
            rowSum = rowSum + item
        if(rowSum > 35):
            print(rowSum)
        else:
            print('suma menor de 35')

funcion_1(a)

suma menor de 35
45
60